* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url("https://images.wallpaperscraft.com/image/single/comets_stars_space_161658_3840x2160.jpg")
    no-repeat center center;
  min-height: 100%;
  background-size: cover;
  font-family: "Arial", sans-serif;
}

#container {
  width: 100%;
  margin: 0 auto;
  padding-top: 6.25rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  padding: 1.25rem;
  color: seashell;
}

/* Поле ввода */
#task {
  width: 25rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  text-align: center;
  padding: 0.5rem;
}

.data:hover {
  border: 2px solid rgb(104, 98, 93);
  outline: rgb(104, 98, 93);
}

.data:focus {
  background: rgba(112, 218, 226, 0.438);
  border: 2px solid rgba(30, 62, 105, 0.61);
  outline: rgba(30, 62, 105, 0.61);
}

.data:focus::placeholder {
  color: transparent;
}

/* Кнопки */
.btn {
  width: 15rem;
  background-color: rgba(30, 62, 105, 0.8);
  color: white;
  border: none;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.add:hover {
  border: 3px solid rgb(104, 98, 93);
}

.clear {
  margin-top: 2rem;
}

.clear:disabled {
  opacity: 0.5;
}

/* Список задач */
.list {
  width: 35%;
  margin: 2rem auto;
  /*padding-top: 1.25rem; */
  color: seashell;
}

.list__point {
  text-align: start;
  font-size: 1.5rem;
}

/* Отдельная задача */
li {
  border: 1px solid gray;
  height: 60px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* Сообщение "Список пуст" */
p {
  font-size: 2.5rem;
  font-weight: lighter;
  color: lightgrey;
}

/* Чекбокс */
.check {
  width: 30px;
  height: 30px;
  margin-left: 1rem;
}

.check:checked {
  background-color: pink;
}
