* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: url("https://s1.1zoom.ru/big7/407/Starfish_Shells_Sand_490860.jpg")
    no-repeat center center;
  min-height: 100%;
  background-size: cover;
}

#container {
  width: 100%;
  margin: 0 auto;
  padding-top: 6.25rem;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  padding: 1.25rem;
}

#task {
  width: 18.75rem;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.data:hover {
  border: 2px solid rgb(104, 98, 93);
  outline: rgb(104, 98, 93);
}

.data:focus {
  background: rgba(112, 218, 226, 0.438);
  border: 2px solid rgba(145, 70, 70, 0.61);
  outline: rgba(145, 70, 70, 0.61);
}

.data:focus::placeholder {
  color: transparent;
}

.btn {
  width: 10rem;
  background-color: rgba(145, 70, 70, 0.61);
  color: white;
  border: none;
  height: 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
}

.add:hover {
  border: 3px solid rgb(104, 98, 93);
}

.clear {
  margin-top: 2rem;
}

.clear:disabled {
  opacity: 0.5;
}

.list {
  width: 35%;
  margin: 0 auto;
  padding-top: 1.25rem;
}

.list__point {
  text-align: start;
  font-size: 1.5rem;
}

li {
  border: 1px solid gray;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}

p {
  font-size: 2.5rem;
  font-weight: lighter;
  color: lightgrey;
}

.check {
  width: 35px;
}

.check:checked {
  background-color: pink;
}
